<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <main class="container">
      <div class="jumbotron">
        <div style="width: 100%; overflow: hidden;">
          
          <div class="vertical-center">
            <img src="Assets\images\yusuf.JPG" alt="yusuf_bilgic" height="200" style="float:right; margin: 0px 0px 15px 15px;" >
            <div style=" text-align: center;">
              
              <div>
                <h1 class="display-4" style="font-size: 30px; text-align:center">&nbsp;&nbsp;<b>Welcome to the <%= title %> Page! </b></h1>
                <br>
                  <p> My name is Yusuf Esad Bilgic. <br> Student Id: 301166614<br> Comp229-Web Application Development<br> Mid-Term - Book List </p>
                <br>
                  
                  
                  <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
<% include ../partials/footer.ejs %>


